
h1{color: #009999;
text-align: center;
font-family: 'Tangerine', cursive;
font-size: 300%;
}

img{
	border: .15em solid #009999;
	margin-top: 1em;
}

.error{
	color: red;
}

 label.required{
font-weight: bold;
}

.item{text-align: center;
}

.nav{
	padding: 1em;
	margin: 1em;
	font-size: 125%;
	width: 93%;
}
	 
th{font-size: 125%;}

.table th{text-align: center;}

.jumbotron p{text-align: center;}

main{background-color: #D4D4D4;
border-top: 1px solid #119999;
border-bottom: 1px solid #119999;}

a:link{color: #090;
font-weight: none;}

a:visited{color: #906;}

a:hover{
font-weight: bold;
}

a:active{text-decoration: none;}

body{
	margin: 1em;
	padding: 1.5em;
	border: 3px solid #119999;
}

footer{
	font-weight: bold;
	color: #119999;
	font-size: 100%;
}

tr{text-align: center}

td{width: 33%;}

td.drinks{text-align: center;}

