
h1{
	text-align: center;
	color: gray;
	font-family: 'Amatic SC', cursive;
	font-size: 300%;
	}

body{
	
	border: .25em solid gray;
	margin: auto;
	padding: 1em 1em;
	box-shadow: .5em .5em 0 0;
}

.background{background: gray url("///C:/Program Files/Git/Repositories/swcguild/Pre-Work/albumPage/Radiohead.gif"); background-repeat: no-repeat; width: 100%; height: 80%; background-position: center;}

a:link{text-decoration: none;}

a:hover{text-decoration: underline;
background-color: #9cc;
}

h2, h3{
	text-align: center;
	padding-top:.5em;
}


h4, li{
font-size: 150%;
padding-left: 1em;
font-family: 'Amatic SC', cursive;
}

table {background-color: #9cc;}

caption{font-size: 120%;
font-weight: bold;}

tbody td{
	font-style: italic;
	text-align: center;
	border-collapse: none;
	
}