body{background: transparent url("dice.jpg") no-repeat center;
background-size: 100% 400%;
	}

h1{
	text-align: center;
	color: white;
	text-shadow: -2px -2px 3px black;
	
}

form{
	text-align: center;
	font-weight: bold;
	padding: 10px;
	color: white;
	text-shadow: -2px -2px 3px black;
	
}

.bet{margin:30px;}

#play{font-size: 80%;
	font-weight: bold;
	padding: 5px 20px;
	margin-bottom: 30px;
}

table.center{
	font-weight: bold;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

table, td{
	border: 2px ridge black; 
	padding: 3px;
	margin: 5px;
	width: 30%;
	background-color: white;
}

caption{
	color: white;
	text-shadow: -1px -1px 2px black;
}